/.idea/

/config/jwt/*.pem
/.env.local
/.env.local.php
/.env.*.local

/config/secrets/prod/prod.decrypt.private.php

/public/bundles/

/var/cache
/var/log
/var/.tmp/
/vendor/

/phpunit.xml
.phpunit.result.cache

/.php-cs-fixer.php

/docker-compose.override.yml
/var/data_dev.db
/var/data_dev.db-journal
