@import 'https://rsms.me/inter/inter.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  min-width: 375px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  body {
    @apply dark:bg-black dark:text-white;
  }
}

@layer components {
  .program-title {
    @apply text-sm text-blue-500 hover:text-blue-700 dark:text-white;
  }
}
